{% extends "/layouts.html.twig" %}

{% block content %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/public/node_modules/startbootstrap-clean-blog/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Articles</h1>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div>
                    <a href="/newPost">Nouvel article</a>
                </div>
                {% for post in posts %}
                    {% if post.isEnabled %}
                    <div>
                        <a href="/post?id={{ post.postID.value }}">
                            <h2 class="post-title">
                                {{ post.header.title }}
                            </h2>
                            <h3 class="post-subtitle">
                                {{ post.header.brief }}
                            </h3>
                        </a>
                        <p class="post-meta">Posted by
                            <a href="#">{{ post.blogger.nickname }}</a>
                            on {{ post.createAt|date }}<br/>
                            update on {{ post.updateAt|date }}
                        </p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
