<div id="new_comment">
    <div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <h4>Comments</h4>
                    <hr class="my-4">
                    <div id="comment_thread">
                        <div class="comment_form_holder">
                            {% if (advert) %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Thanks!</strong> Your comment will be published after validation by the administrator.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            {% endif %}
                            <h5>Add a comment</h5>
                            <hr class="my-2">
                            <form id="comment_new_form" class="comment_new_form" action="/newComment" method="post"
                                  novalidate>
                                <div class="control-group">
                                    <div class="form-group floating-label-form-group controls">
                                        <label for="username">Username</label>
                                        <input type="text" name="username" id="username" class="form-control"
                                               placeholder="Username" value="{{ username ?? '' }}"/>
                                        <p class="help-block text-danger">
                                            {{ errors.username ?? '' }}
                                        </p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="form-group floating-label-form-group controls">
                                        <label for="email">Email</label>
                                        <input type="email" name="email" id="email" class="form-control"
                                               placeholder="Email" value="{{ email ?? '' }}"/>
                                        <p class="help-block text-danger">
                                            {{ errors.email ?? '' }}
                                        </p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="form-group floating-label-form-group controls floating-label-form-group-with-value">
                                        <label for="comment">Your comment</label>
                                        <textarea name="comment" id="comment"
                                                  class="form-control" placeholder="Comment">
                                    {{ comment ?? '' }}
                                            </textarea>
                                        <p class="help-block text-danger">
                                            {{ errors.comment ?? '' }}
                                        </p>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <button id="new_comment_submit" type="submit" class="btn btn-primary"
                                            value="Poster">Posted
                                    </button>
                                </div>
                                <input type="hidden" id="postID" name="postID"
                                       value="{{ postID }}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <script>
      $.when($.ready).then(function () {
        comments.onClickPostedBtn()
      })
    </script>
</div>
