{% extends 'layouts.admin.html.twig' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <a class="btn btn-primary" href="/admin/addUser">New User</a>
            <table class="table tablesorter tablesorter-default" role="grid">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>nickname</th>
                    <th>Firstname Lastname</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><a href="/admin/user?id={{ user.userID.value }}">{{ user.username }}</a></td>
                        <td>{{ user.nickname }}</td>
                        <td>{{ user.firstname }} {{ user.lastname }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>
                            <a href="/admin/changeUser?id={{ user.userID.value }}" class="btn btn-primary">edit</a>
                            {% if user.locked %}
                            <a href="/admin/user/unlock?id={{ user.userID.value }}" class="btn btn-warning">unlock</a>
                            {% else %}
                            <a href="/admin/user/lock?id={{ user.userID.value }}" class="btn btn-danger">lock</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}


{% block title %}BlogAdmin - Users{% endblock title %}
