<a href="/registration">Ajouter un utilisateur</a>
<table>
    <thead>
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>email</th>
        <th>action</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>
                <a href="/changeUser?id={{ user.userID.value }}">modifier</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
