{% extends 'layouts.admin.html.twig' %}

{% block content %}
    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped table-hover" role="grid">
                    <thead>
                    <tr>
                        <th>Author</th>
                        <th>Commentary</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for commentAggregate in comments %}
                        <tr>
                            <td>{{ commentAggregate.author.username }}</td>
                            <td>{{ commentAggregate.comment.body }}</td>
                            <td>{{ commentAggregate.comment.createAt|date() }}</td>
                            <td>
                                {% if (commentAggregate.comment.enabled) %}
                                    <a href="/admin/comment/disapprove/{{ commentAggregate.comment.commentID.value }}"
                                       class="btn btn-primary">Disapprove</a>
                                {% else %}
                                    <a href="/admin/comment/approve/{{ commentAggregate.comment.commentID.value }}"
                                       class="btn btn-primary">Approve</a>
                                {% endif %}
                                <a href="/admin/comment/change/{{ commentAggregate.comment.commentID.value }}"
                                   class="btn btn-danger">Change</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}

{% block actionTitle %}Comments{% endblock actionTitle %}
